doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    <!-- Latest compiled and minified CSS -->
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

  body
    .container-fluid
      block content
    